DB_HOST="localhost"
DB_USER= "root"
DB_PASSWORD= ""
DB_NAME= "ecommerce-system"

DB_PORT= "3306"
DB_DRIVER= "mysql"


SERVER_HOST= "localhost"
SERVER_PORT= "8080"

JWT_SECRET_KEY= ""


MIDTRANS_SERVER_KEY=""
MIDTRANS_ENV = "sandbox" # or production

